.Content {
    color: black;
    margin: auto;
    width: 80%;
    /*
    border: 1px solid black;
    */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*
.Content li {
    display: inline;
    padding: 10px;
    
}

*/


@media screen and (max-width: 1019px){
    .Content {
        color: black;
        margin: auto;
        width: 90%;
        /*
        border: 1px solid black;
        */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}