.Content {
    color: black;
    margin: auto;
    width: 40%;
    border: 1px solid black;
    
    justify-content: center;
}

.Content ul {
    list-style: none;
    display: inline-block;
    
}

.Content li {
    display: inline;
    
}

.Nav {
    display: flex;
    display: row;
    justify-content: space-around;
}