.Header {
    width: 100%;
    display: flex;
    color: black;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: silver;
    text-shadow:
		-1px -1px 0 lightskyblue,
		1px -1px 0 lightskyblue,
		-1px 1px 0 lightskyblue,
		1px 1px 0 lightskyblue;
}

.Header ul {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    color: blue;
    list-style: none;
    width: 80%;

}

.Header a {
    text-decoration: none;
    cursor: pointer;
}

.Header img {
    width: 10%;
}