.Item {
    padding-top: 20px;
}


.Active {
    border-bottom: 3px solid #ccc;
}

.Inactive {
    border: none;
}

.Item img {
    width: 60px;


}

.Footer {
    display: flex;
    margin: 10px;
}

@media screen and (min-width: 769px){
    .Item {
        font-size: 1.4rem;
    }
}

